<html>
<head>
<title>[% system_name %] Headword</title>
[% INCLUDE style.tt %]
<script type="text/javascript" src="[% fckpath %]/fckeditor.js"></script>
</head>
<body bgcolor="ffffff">
[% IF display_nav %][% INCLUDE navl2.inc %][% END %]
<form action="commit" method="POST">
<input type="hidden" name="_id" value="[% id %]">
[% IF workflow %]
<input type="hidden" name="_wf" value="1">
[% END %]
[% IF message %]<font color="red"><b>[% message %]</b></font><br>[% END %]
<table>
<tr><td colspan="3">[% INCLUDE prettyentry.tt %]</td></tr>
[% INCLUDE submit_buttons %]
[% FOREACH field IN display_order %]
   <tr><td valign="top">[% fieldnamexlated.$field %]</td><td>&nbsp;</td><td valign="top">[% IF warnings.$field %]<font color="red"><b>[% warnings.$field %]</b></font><br>[% END %][% fields.$field %]</td></tr>
[% END %]
[% IF have_warnings %]
<tr><td></td><td></td><td><input type="checkbox" name="_ignorewarn" value="1">&nbsp;[% ignore_warnings_message %]
[% END %]
[% IF sysadmin %]
<tr><td></td><td></td><td><input type="checkbox" name="dump" value="1">&nbsp;Dump</td></tr>
[% END %]
[% IF history %]
<tr><td></td><td></td><td>
<a href="history?_nav=no&_id=[% id %]" target="_blank">[% history %]</a><br><br>
</td></tr>
[% END %]
[% INCLUDE submit_buttons %]
</table>
<br>
[% IF display_nav %][% INCLUDE navl2.inc %][% END %]
</body>
</html>

[% BLOCK submit_buttons %]
[% IF user_object.canupdate %]
<tr><td></td><td></td><td>
<input type="submit" value="save">
[% IF workflow %]
<input name="_nextwf" type="submit" value="[% wf_next_entry %]">
[% END %] 
[% IF id != "new" %]
<input name="_delete" type="submit" value="delete">
[% END %]
</td></tr>
[% END %]
[% END %]