<html>
<head>
<title>[% system_name %] Freelex Search and Replace</title>
<STYLE TYPE="text/css">
  BODY, H1, P, TD, INPUT, SELECT, TEXTAREA { font-family: "Lucida Grande", "Lucida Sans Unicode", "Arial Unicode MS", Helvetica, Arial, sans-serif }
  TT {font-family: "Courier CE", "Courier New", "Luxi Mono", monospace; font-size: small}
</STYLE>
</head>
<body bgcolor="ffffff">
[% INCLUDE nav.inc %]
<br>
<form action="searchandreplace" method="post">
<input type="hidden" name="_s" value="review">
<table border="0">
<tr><td valign="top">[% search_prompt %]</td><td>&nbsp;</td><td>[% search_text_box %]</td></tr>
<tr><td valign="top">[% replace_prompt %]</td><td>&nbsp;</td><td>[% replace_text_box %]</td></tr>
<tr><td valign="top">[% include_columns_prompt %]</td><td></td><td>
[% FOREACH f IN search_and_replace_cols %]
<input type="checkbox" name="[% f.col %]" CHECKED>[% f.colname %]<br>
[% END %]
</td></tr>
<tr><td></td><td></td><td><input type="submit" value="[% review_changes_button %]"></td></tr>
</table>
</form>
<br><br>
[% INCLUDE nav.inc %]
</body>
</html>
